[user]
    useConfigOnly = true
[push]
    default = current
[merge]
    ff = false
[pull]
    ff = only
    ff = only
[color]
    ui = auto
[core]
    pager     = less
    quotepath = false
[github]
    user = mopp
[alias]
    diffh  = diff --histogram
    diffhi = diff --histogram --no-index
    diffs  = diff --histogram --staged
    diffsi = diff --histogram --staged --no-index
    diffw  = diff --histogram --word-diff
    diffwi = diff --histogram --word-diff --no-index
    diffr  = diff --histogram --word-diff --word-diff-regex='\\w+|[^[:space:]]'
    diffri = diff --histogram --word-diff --word-diff-regex='\\w+|[^[:space:]]' --no-index
    graph  = log --graph --decorate --oneline
    logs   = log --stat --decorate --color --graph
    open   = !$(command -v open || command -v xdg-open) $(git config remote.origin.url | sed -Ee 's!(git@|git://|ssh://)!http://!' -e 's!:([^/])!/\\1!')
[url "git@github.com:"]
    pushinsteadof = https://github.com/
