[user]
    name = mopp
    email = ac.kxp165@gmail.com
[push]
    default = matching
[color]
    ui = auto
[core]
    editor = vim
    pager = less
[github]
    user = mopp
[alias]
    graph = log --graph --decorate --oneline
    logs = log --stat
[url "git@github.com:"]
    pushinsteadof = https://github.com/
