[user]
    useConfigOnly = true
[push]
    default = current
[merge]
    ff = false
[pull]
    ff = only
[color]
    ui = auto
[core]
    pager = delta
    quotepath = false
[github]
    user = mopp
[alias]
    diffh = diff --histogram
    diffw = diff --histogram --word-diff --word-diff-regex='\\w+|[^[:space:]]'
    graph = log --graph --decorate --oneline
    logs = log --stat --decorate --color --graph --pretty=fuller
    url = !echo $(git config remote.origin.url | sed -Ee 's!(git@|git://|ssh://)!https://!' -e 's!:([^/])!/\\1!' | sed -e 's/.git$//')
    open = !$(command -v open || command -v xdg-open) $(git url)
    pr = !$(command -v open || command -v xdg-open) $(git url)/compare/$(git rev-parse --abbrev-ref HEAD)?expand=1
    pr-echo = !echo $(git url)/compare/$(git rev-parse --abbrev-ref HEAD)?expand=1
    rename = branch -m
    select = "!f() { select ans in $(git status --short | awk '{print $2}'); do $EDITOR $ans; break; done }; f"
    squeeze = commit --amend --no-edit
    unstage = reset HEAD
    uncommit = reset --soft HEAD~
    pushf = push --force-with-lease origin HEAD
    push = push origin HEAD
    wip = commit --message 'wip'
    rebasel = !git rebase $(git symbolic-ref refs/remotes/origin/HEAD | cut --delimiter='/' --fields=3,4)
[pager]
    branch = false
[fetch]
	prune = true
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
    side-by-side = true
